@{
    ViewData["Title"] = "Backer created successfully";
    Layout = "~/Views/Shared/_BackerLayout.cshtml";

}

<div class="text-center">
    <h2>Your account was created successfully!</h2>
    <br />
    <div>
        <a asp-action="Index" class="btn details">Back to Project List</a>
    </div>

</div>
