@model IEnumerable<FundRaiserProject2023.Models.Backer>

@{
    ViewData["Title"] = "Our Backers";
    Layout = "~/Views/Shared/_BackerLayout.cshtml";
}

<h1>All our Backers</h1>

<p>
    <a asp-action="BackerCreate">Create a new Backer account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
