@model IEnumerable<FundRaiserProject2023.Models.Backer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BackerLayout.cshtml";
}

<h1>Backers</h1>

<p>
    <a asp-action="Create" class="btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="color:azure !important">
            <th style ="color:azure !important">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style ="color:azure !important">
                <td style="color:azure !important">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn details">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
