html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}




body {
    margin: 0;
    text-align: center;
    font-family: 'Sacramento', sans-serif;
    font-size: 1rem;
    /*background: #D38312; 
    background: -webkit-linear-gradient(to top, #A83279, #D38312); 
    background: linear-gradient(to top, #A83279, #D38312);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    background: #70e1f5;
    background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);
    background: linear-gradient(to top, #ffd194, #70e1f5);
    /*background: rgb(232,152,187);
    background: linear-gradient(180deg, rgba(232,152,187,1) 0%, rgba(110,168,236,1) 100%);*/
}

.header {
    margin: 100px;
    padding: 0px;
    text-align: center;
    background: #071952;
    color: white;
}



h1 {
    font-size: 5.34rem;
    margin-top: 110px;
    font-family: 'Sacramento', sans-serif;
    color: #FFF9F9;
    width: 100%;
    height: 10%;
    padding: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #E5E3C9;
    font-weight: normal;
    height: 10%;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F3E9DD;
    padding-bottom: 30px;
    width: 100%;
}

a {
    color: #11999E;
}

p {
    font-family: 'Sacramento', sans-serif;
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    min-width: 250px;
    height: 100%;
    line-height: 2;
    color: #EFEFEF;
}

/*hr {
    border: dotted #D38312 2px;
    border-bottom: none;
    width: 4%;
    border-color: #AEBDCA;
    margin: 80px auto;
}*/



.middle-container {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 100%;
    min-width: 460px;
}

.pic {
    width: 30%;
    min-width: 175px;
}

.intro {
    width: 30%;
    margin: auto;
}


.bottom-container {
    padding: 50px 0 20px;
    background-color: #7C99AC;
    width: 100%;
    min-width: 460px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}



.btn {
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    height: 30px;
    border: 0px solid;
    background-image: linear-gradient(45deg,blue,#00f0a0,blue);
    background-size: 500% 400%;
    color: white;
    border-radius: 50px;
    transition: 0.6s all;
}

.details {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    background-image: linear-gradient(45deg,#215f00,#e4e4d9,#215f00);
    transition: 0.6s all;
}


.delete {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    background-image: linear-gradient(45deg,#556270,#FF6B6B,#556270);
    transition: 0.6s all;
}


.btn:hover {
        background-position: 75% 50%;
        transform: perspective(100px)
    }

    .btn:active {
        transform: scale(0.95);
        transition: 0.1s;
    }

.copyright {
    width: 2%;
    height: auto;
    max-width: 40px;
}

.contact-links {
    width: 17%;
    max-width: 65px;
    padding-left: 15px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.table{
    margin-top: 2rem;
}