html {
  font-size: 14px;
  color :azure;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: azure;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: azure;
}




body {
    margin-top: 10%;
    margin-bottom: 20%;
    text-align: center;
    font-family: 'Sacramento', sans-serif;
    font-size: 1rem;
    /*background: #D38312; 
    background: -webkit-linear-gradient(to top, #A83279, #D38312); 
    background: linear-gradient(to top, #A83279, #D38312);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: #70e1f5;
    background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);
    background: linear-gradient(to top, #ffd194, #70e1f5);
    /*background: rgb(232,152,187);
    background: linear-gradient(180deg, rgba(232,152,187,1) 0%, rgba(110,168,236,1) 100%);*/
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: azure;
}

.header {
    margin: 100px;
    padding: 0px;
    text-align: center;
    background: #071952;
    color: white;
}



h1 {
    font-size: 5.34rem;
    margin-top: 8%;
    font-family: 'Sacramento', sans-serif;
    color: #FFF9F9;
    width: 100%;
    height: 10%;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: 'Sacramento', sans-serif;
    color: #FFF9F9;
    width: 100%;
    height: 10%;
    padding: 0;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F3E9DD;
    padding-bottom: 30px;
    width: 100%;
}

a {
    color: #11999E;
}

p {
    font-family: 'Sacramento', sans-serif;
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    min-width: 250px;
    height: 100%;
    line-height: 2;
    color: #EFEFEF;
}

hr {
    border: dotted #D38312 2px;
    border-bottom: none;
    width: 29%;
    border-color: #AEBDCA;
    margin: auto;
}



.middle-container {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 100%;
    min-width: 460px;
}

.pic {
    width: 30%;
    min-width: 175px;
}

.intro {
    width: 30%;
    margin: auto;
}


.bottom-container {
    padding: 50px 0 20px;
    background-color: #7C99AC;
    width: 100%;
    min-width: 460px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}



.btn {
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 28px;
    border-radius: 15px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    height: 30px;
    border: 0px solid;
    background-image: linear-gradient(45deg,blue,#00f0a0,blue);
    background-size: 500% 400%;
    color: white;
    border-radius: 80px;
    transition: 0.6s all;
}

.details {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    background-image: linear-gradient(45deg,#215f00,#e4e4d9,#215f00);
    transition: 0.6s all;
}


.delete {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    background-image: linear-gradient(45deg,#556270,#FF6B6B,#556270);
    transition: 0.6s all;
}


.btn:hover {
        background-position: 75% 50%;
        transform: perspective(100px)
    }

    .btn:active {
        transform: scale(0.95);
        transition: 0.1s;
    }

.image {
    width: 75%;
    height: auto;
    max-width: 115px;
}

.copyright {
    width: 2%;
    height: auto;
    max-width: 40px;
}

.contact-links {
    width: 17%;
    max-width: 65px;
    padding-left: 15px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

table{
    margin-top: 2rem;
}

.center {
    margin: auto;
    width: 50%;
    left: 50%;
    right: 50%;
    padding: 10px;
}

.footer {
    padding: 50px 0 20px;
    height: 20%;
    max-height: 150px;
    width: 100%;
    min-width: 460px;
}


/*CAROUSEL*/
#feature-carousel.carousel {
    background-color: inherit;
}

    #feature-carousel.carousel .carousel-indicators {
        display: flex;
        justify-content: left;
    }

    #feature-carousel.carousel .carousel-item {
        height: 700px;
    }

        #feature-carousel.carousel .carousel-item .item {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            #feature-carousel.carousel .carousel-item .item img {
                width: 60%;
                height: 100%;
                border-radius: 20px;
            }

            #feature-carousel.carousel .carousel-item .item .text {
                color: white;
                padding: 100px;
            }

                #feature-carousel.carousel .carousel-item .item .text p {
                    font-size: 10pt;
                }

                #feature-carousel.carousel .carousel-item .item .text a {
                    background-color: purple;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    text-decoration: none;
                }

@media screen and (min-width: 1501px) {
    #feature-carousel-with-caption {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    #feature-carousel {
        display: none;
    }

    #feature-carousel-with-caption .fade-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }

    #feature-carousel-with-caption img {
        width: 100%;
    }

    #feature-carousel-with-caption .carousel-caption {
        top: 30%;
        left: 7%;
        text-align: left;
    }
}


/* MULTI CAROUSEL*/
.my-multi-carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.my-multi-carousel.carousel {
    background-color: white;
    width: 1200px;
}

    .my-multi-carousel.carousel .carousel-inner {
        display: flex;
        flex-direction: row;
    }

        .my-multi-carousel.carousel .carousel-inner .carousel-item {
            display: flex;
            margin-right: 0;
        }

            .my-multi-carousel.carousel .carousel-inner .carousel-item .item img {
                width: 400px;
                height: 100%;
            }


/* FUND REGISTERATION */

.container {
    color: white;
    width: 800px;
}

    .container h2 {
        margin: 100px 0 50px 0;
    }

    .container textarea {
        resize: none;
        height: 200px;
    }

/* OVERVIEW*/
.content {
    color: white;
}

    .content h1 {
        padding: 20px 0px;
    }

    .content img {
        width: 100%;
        height: 100%;
    }

    .content .description {
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 10px 10px 40px 10px;
    }

        .content form .row-container {
            display: flex;
            justify-content: space-around;
        }

        .content form .column-container {
            width: 30%;
            display: flex;
            flex-direction: column;
        }

            .content form .column-container select {
                width: 70px;
                text-align: center;
            }

        .content form button {
            align-self: center;
        }

/* PROJECT */
.container {
    color: white;
}

    .container h2 {
        padding: 40px;
    }

.list {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

.item {
    display: flex;
    width: 400px;
    height: 150px;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
}

    .item:hover {
        color: gray;
        box-shadow: 0px 0px 25px 2px;
    }

        .item:hover .title {
            color: gray;
        }

    .item img {
        width: 120px;
        height: 100%;
        padding: 5px;
    }

    .item .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        width: 280px;
        padding: 20px;
    }




    /* RADIO BUTTONS*/
.input-label {
    margin: 10px;
    width: 30%;
    height: 24px;
    vertical-align: middle;
}

.input {
    -webkit-appearance: none;
    /* remove default */
    display: inline-grid;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
    background-color: hsla(0,0%,0%,.2);
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1), -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
}

    .input:checked {
        -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1), -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
    }

    .input:active {
        -webkit-transform: scale(1.5);
        -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
    }



    /* The up/down direction logic */

    .input,
    .input:active {
        background-position: 0 24px;
    }

        .input:checked {
            background-position: 0 0;
        }

            .input:checked ~ .input,
            .input:checked ~ .input:active {
                background-position: 0 -24px;
            }


/* FUND BUTTON*/
/* === removing default button style ===*/


/* button styling */
.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

    .circle:nth-of-type(1) {
        background: rgba(254, 83, 186, 0.636);
    }

    .circle:nth-of-type(2) {
        background: rgba(142, 81, 234, 0.704);
    }

.button1:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.button1:hover {
    transform: scale(1.1)
}

.button1:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

    .button1:active .circle {
        background: #FE53BB;
    }

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

    #stars::after {
        content: "";
        position: absolute;
        top: -10rem;
        left: -100rem;
        width: 100%;
        height: 100%;
        animation: animStarRotate 90s linear infinite;
    }

    #stars::after {
        background-image: radial-gradient(#ffffff 1px, transparent 1%);
        background-size: 50px 50px;
    }

    #stars::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 170%;
        height: 500%;
        animation: animStar 60s linear infinite;
    }

    #stars::before {
        background-image: radial-gradient(#ffffff 1px, transparent 1%);
        background-size: 50px 50px;
        opacity: 0.5;
    }

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}