@using FundRaiserProject2023.Models
@model FundRaiserProject2023.Models.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ProjectCreatorLayout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4 center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingGoal" class="control-label"></label>
                <input asp-for="FundingGoal" class="form-control" />
                <span asp-validation-for="FundingGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardPackages" class="control-label"></label>
                <input asp-for="RewardPackages" class="form-control" />
                <span asp-validation-for="RewardPackages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPhotos" class="control-label"></label>
                <input asp-for="ProjectPhotos" class="form-control" />
                <span asp-validation-for="ProjectPhotos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectVideos" class="control-label"></label>
                <input asp-for="ProjectVideos" class="form-control" />
                <span asp-validation-for="ProjectVideos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectCreator.Name" class="control-label"></label>
                <input asp-for="ProjectCreator.Name" class="form-control" />
                <span asp-validation-for="ProjectCreator.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Projects" asp-action="Index" class="btn details">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
